services:
  backend:
   build: ./backend
   ports:
    - "8000:8000"
   depends_on:
    - db
   environment: 
    - DATABASE_URL=postgresql://postgres:postgres@db:5432/urlshortener

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend
  
  db: 
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: urlshortener
    volumes:
      - postgres_data:/var/lib/postgresql/data
      
volumes:
  postgres_data: